<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hello <%= @user.name %>,</h1>
    <h2>You are now subscrubed to "<%= @post.title %>"</h2>

    <p>You will recieve email updates of new comments to this post. </p>

    <p>
      <%= link_to "View your post on site", topic_post_url(@post.topic, @post) %>
    </p>
  </body>
</html>
