.social_btn{
    position: fixed;
    left: 75%;
    top: 10%;
    color: white;
    font-size: 2em;
    text-align: center;
    background-color: #66FFFF;
    text-shadow: 1px 1px 1px #444;
    position: fixed;
    border: 5px outset gray;
    padding: 0px 5px 0px 5px;
    text-decoration: none;
}

.social_btn:hover{
    background: #5b9aff;
}


#social_text:hover{
    color:white;
    text-shadow: 1px 1px 1px #000;
}